<?xml version="1.0" encoding="UTF-8"?>
<!--
    Cloud Manager Maven Settings
    This file is used by Cloud Manager during the build process.
    See: https://experienceleague.adobe.com/docs/experience-manager-cloud-service/content/implementing/using-cloud-manager/managing-code/cloud-manager-repos.html
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>cloud-manager</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <aem.host>localhost</aem.host>
                <aem.port>4502</aem.port>
                <aem.publish.host>localhost</aem.publish.host>
                <aem.publish.port>4503</aem.publish.port>
                <sling.user>admin</sling.user>
                <sling.password>admin</sling.password>
            </properties>
            <repositories>
                <repository>
                    <id>adobe-public-releases</id>
                    <name>Adobe Public Releases</name>
                    <url>https://repo.adobe.com/nexus/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>adobe-public-releases</id>
                    <name>Adobe Public Releases</name>
                    <url>https://repo.adobe.com/nexus/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
